{% extends 'base.html' %}

{% block intro %}
  <a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch"><code>fetch</code></a>
  is the <em>modern</em> plain JavaScript way to make requests. It's
  supported in all modern browsers.
{% endblock %}

{% block script %}
  <script>
    function addSubmit(ev) {
      ev.preventDefault();
      fetch({{ url_for('add')|tojson }}, {
        method: 'POST',
        body: new FormData(this)
      })
        .then(parseJSON)
        .then(addShow)
        .catch(addError);
    }

    function parseJSON(response) {
      return response.json().then(function(data) {
        if (!response.ok) throw data;
        return data;
      });
    }

    function addShow(data) {
      document.getElementById('result').innerText = data.result;
      document.getElementById('error').innerText = '';
    }

    function addError(data) {
      document.getElementById('result').innerText = '';
      document.getElementById('error').innerText = data.error || 'Request failed.';
    }

    var form = document.getElementById('calc');
    form.addEventListener('submit', addSubmit);
  </script>
{% endblock %}
